/* homepage
------------------------- */

.homepage-section {
  margin-top: 60px;
  padding-top: 20px;
  position: relative;
}

.homepage-section ~ .homepage-section {
  margin-top: 80px;
  padding-top: 20px;
}

.homepage-section ~ .homepage-section:before {
  content: '';
  display: block;
  height: 6px;
  background: #222;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.homepage-copy {
  font-size: 1.2rem;
  max-width: 34em;
}

/* ---- homepage-posts ---- */

.homepage-posts {
  list-style: none;
  padding: 0;
}

.homepage-posts__item {
  margin-bottom: 20px;
}
