<div class="platformer-banner">
  <img class="platformer-banner__image" src="http://i.imgur.com/c1YuOAW.png" alt="Metafizzy platformer game" />
  <div class="container">
    <p class="platformer-banner__caption"><a href="http://rephil.dribbble.com">Art by Phil Giarrusso</a></p>
  </div>
</div>
