---
path: 404.html
---

{{> html-head}}

  <title>Metafizzy &middot; Page not found</title>

</head>
<body>

{{> site-header}}

<div class="container">

  <h1 class="section-title">Page not found</h1>

  <p>Sorry about that!</p>

  <p>Is a page or file supposed to be here? <a href="https://github.com/metafizzy/metafizzy.co/issues">Report missing stuff.</a></p>

  <p><img src="https://i.imgur.com/ZbjdOWn.gif" alt="Seal spinning perfectly towards transcendence" /></p>

</div>

{{> site-footer}}

{{> scripts}}

</body>
</html>
