/* button
------------------------- */

.button {
  display: block;
  padding: 6px 20px;
  border: none;
  background-color: #EEE;
  background-image: linear-gradient( hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.1) );
  color: #333;
}

.button:hover {
  background-color: #FFF;
}

.button:active {
  background-color: #EEE;
  box-shadow: inset 0 2px 10px hsla(0, 0%, 0%, 0.3);
}

.button:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  background-color: white;
}

.button.is-selected {
  background-color: #E62;
  color: white;
}
