---
title: Metafizzy
is_homepage: true
body_class: homepage
---

{% include html-head.html %}

  <div id="wrap">
    <div id="masthead">
      <h1 id="title" class="groover logo" data-groover-panes="100">M<span class="etafizzy">etafizzy</span></h1>
      <h2>Delightful web UI</h2>
    </div>

    <section id="featuring">
      <h2>Featuring</h2>
      <h3><a href="http://isotope.metafizzy.co">Isotope</a></h3>
      <p>Filter &amp; sort magical layouts</p>
      <h3><a href="http://flickity.metafizzy.co">Flickity (beta)</a></h3>
      <p>Touch, responsive, flickable galleries</p>
      <h3><a href="http://packery.metafizzy.co">Packery</a></h3>
      <p>Gap-less, draggable layout library</p>
    </section>

    <section>
      <h2><a href="blog">Blog</a></h2>

      {% for post in site.posts limit:3 %}
        <article class="blog-preview">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        </article>
      {% endfor %}

    </section>

    <section id="support">
      <h2 id="support-license">Support</h2>

      <p><a href="/blog/frustrated-stuck-tired-defeated/"><strong>Don&rsquo;t give up!</strong></a> Unfortunately, I am unable to personally help with implementation issues. But I do my best to document any sticky situations. If you're having trouble with a Metafizzy product, I have provided ample documentation and demos for reference. Can't find an answer? Try these other resources:</p>

      <ul>
        <li><a href="/blog/archive.html">Metafizzy blog</a></li>
        <li><a href="http://codepen.io/desandro/tag/isotope-docs">Isotope CodePen demos</a></li>
        <li><a href="http://codepen.io/desandro/tag/packery-docs">Packery CodePen demos</a></li>
        <li><a href="http://stackoverflow.com/users/182183/desandro?tab=answers">My answers on Stack Overflow</a></li>
      </ul>

    </section>  <!-- #support -->

    <section id="contact">
      <h2>Contact</h2>

      <p>I&rsquo;d love to see how you make use of <span class="metafizzy">Metafizzy</span> resources.  Give me a holler via Twitter <a href="http://twitter.com/metafizzyco">@metafizzyco</a> or by email <a href="mailto:yo@metafizzy.co">yo@metafizzy.co</a>.</p>

    </section> <!-- #contact -->

    <section id="about">
      <h2>About</h2>

      <p><span class="metafizzy">Metafizzy</span> is the business end of <a href="http://desandro.com">David DeSandro</a>. I enjoy making things and hope you do too.</p>
    </section> <!-- #about -->
  </div> <!-- #wrap -->

{% include html-foot.html %}
