<div class="showcase-infinite-scroll-demo showcase__product__demo">
  <div class="showcase-infinite-scroll-demo__item">1a</div>
  <div class="showcase-infinite-scroll-demo__item">1b</div>
  <div class="showcase-infinite-scroll-demo__item">1c</div>
  <div class="showcase-infinite-scroll-demo__item">1d</div>
</div>
