<div class="side-promo">
  <a class="side-promo__link" href="https://cottonbureau.com/products/fizzy-bear">
    <h2 class="side-promo__title">Rainbow bear shirts</h2>
    <img class="side-promo__image" src="https://i.imgur.com/jmMTtGD.jpg" alt="Rainbow bear shirt" />
    <p class="side-promo__description">Printed on soft Next Level Poly-cotton t-shirts, in Bondi Blue, Apple Green, and Heather Gray. Available in women's sizes. Makes a great holiday gift.</p>
  </a>
</div>
