<div class="side-promo">
  <a class="side-promo__link" href="https://cottonbureau.com/products/refactor">
    <h2 class="side-promo__title">Refactor t-shirt</h2>
    <img class="side-promo__image" src="/img/2019/refactor-shirt-promo.jpg" alt="Refactor shirt" />
    <p class="side-promo__description">You know what&rsquo;s truly metal? Nicely encapsulated code with human-readable comments.
      <br/>
      <br/>
      Printed on super-soft Black Tri-blend. Women's sizes available.</p>
  </a>
</div>
