<div class="side-promo">
  <a class="side-promo__link" href="https://gum.co/mfzy-socks">
    <h2 class="side-promo__title">Metafizzy socks</h2>
    <img class="side-promo__image" src="/img/2019/socks-side-promo1.jpg" alt="Metafizzy socks" />
    <p class="side-promo__description">Now for sale! Rainbow colors, cutie bear face, knit with comfy-soft cotton threads. Makes a great gift. Everyone wears&nbsp;socks.</p>
  </a>
</div>
