<div class="homepage-flickity-demo homepage-product__demo">
  <div class="homepage-flickity-demo__carousel js-flickity">
    <div class="homepage-flickity-demo__cell">
      <span class="homepage-flickity-demo__cell__number">1</span>
    </div>
    <div class="homepage-flickity-demo__cell">
      <span class="homepage-flickity-demo__cell__number">2</span>
    </div>
    <div class="homepage-flickity-demo__cell">
      <span class="homepage-flickity-demo__cell__number">3</span>
    </div>
    <div class="homepage-flickity-demo__cell">
      <span class="homepage-flickity-demo__cell__number">4</span>
    </div>
    <div class="homepage-flickity-demo__cell">
      <span class="homepage-flickity-demo__cell__number">5</span>
    </div>
  </div>
</div>
