/* fit video
https://www.smashingmagazine.com/2014/02/27/making-embedded-content-work-in-responsive-design/
------------------------- */

.fit-video {
  position: relative;
  padding-bottom: 75%; /* default 3:4 ratio */
  height: 0;
  overflow: hidden;
}

.fit-video--3x2 {
  padding-bottom: 66.6%;
}

.fit-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
