<div class="blog-header">
  <div class="container">
    <a class="blog-header__home-link" href="/">
      <img class="blog-header__logo" src="/img/metafizzy-logo.png" alt="Metafizzy logo" />
    </a>

    <a class="blog-header__title-link" href="/blog">
      {{> rainbow-wordmark}}
      <span class="blog-header__title-blog-text">Blog</span>
    </a>
  </div>
</div>
