<div class="site-header">
  <div class="container">

    <a class="site-header__home-link" href="/">
      {{> mfzy-logo}}
    </a>

    <a class="site-header__title-link" href="/blog">
      {{> rainbow-wordmark}}
      <span class="site-header__title-blog-text">Blog</span>
    </a>

    <div class="site-header__extras">
      <a class="site-header__extras__link" href="/blog/archive">Archive</a>
      <a class="site-header__extras__link" href="https://feeds.feedburner.com/metafizzy">RSS</a>
    </div>

  </div>
</div>
