/* site-footer
------------------------- */

.site-footer {
  background: #222;
  padding: 40px 0 60px;
  margin-top: 60px;
}

.site-footer__fizzy-makes {
  font-size: 1.6rem;
}

.site-footer .showcase__product {
  background: #333;
}
