<svg class="mfzy-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 144 144" width="36" height="36">
  <title>Metafizzy logo</title>
  <defs>
    <path id="mfzy-logo__body" d="M120 28a12 12 0 0 0-24 0c0 2 0 3 0 4.5
      a 37 37 0 0 0 -12.6-8.4 a 12 12 0 1 0-22.8-.7 A 44 44 0 0 0 40.3 35.3 
      A 12 12 0 1 0 32 56h1.1 L 43.6 73.4 L 29.8 81.7 a12 12 0 1 0 12.3 20.6
      l 12.6-7.5 a 20 20 0 0 1-.8 9.4l-5.3 16 a 12 12 0 1 0 22.8 7.6v-.3
      l 28.7-17.2 a 12 12 0 0 0 5.2-6.5 l 4-12 A 55 55 0 0 0 112 76
      a 73 73 0 0 0-1.1-12.4 C 115 57 120 46 120 28Z" />
    <path id="mfzy-logo__eye" transform="rotate(-31)"
      d="M 0 6.8 a 6.8 6.8 0 0 1 13.6 0 c 0 3.9 -3 0 -6.8 0 s -6.8 3.9 -6.8 0Z" />
    <clipPath id="mfzy-logo__body-clip">
      <use xlink:href="#mfzy-logo__body" />
    </clipPath>
  </defs>
  <use class="mfzy-logo__body-outline" xlink:href="#mfzy-logo__body"
    fill="#333" stroke="#333" stroke-width="16" />
  <g class="mfzy-logo__stripes" clip-path="url(#mfzy-logo__body-clip)">
    <rect fill="#E62" x="16" width="120" height="138" />
    <path fill="#C25" d="M96 24L16 72V0h80v24z" />
    <path fill="#EA0" d="M116 70L16 130v-26l95-57 5 23z" />
    <path fill="#19F" d="M136 138H16v-8l120-72v80z" />
  </g>
  <path class="mfzy-logo__cut-ins" stroke="#333" fill="none"
    stroke-linecap="round" stroke-linejoin="round" stroke-width="8"
    d="M72 18c26 0 44 28 44 58
    M 50.2 103 a16 16 0 0 0 .5 -8
    M92 98c-2 2-8.5 6-8.5 6l-8.4 25.1" />
  <use class="mfzy-logo__feature" xlink:href="#mfzy-logo__eye"
     fill="#333" transform="translate(53.5 57.5)" />
  <use class="mfzy-logo__feature" xlink:href="#mfzy-logo__eye"
    fill="#333" transform="translate(79.3 42)" />
  <ellipse class="mfzy-logo__snout" fill="white"
    cx="42" cy="98" rx="14" ry="10" transform="rotate(-31)" />
  <path class="mfzy-logo__feature mfzy-logo__nose"
    fill="#333" transform="rotate(-31)"
    d="M40 91 h 5.4 a 3 3 0 0 1 1.5 5.6 l -2.7 1.5 a 3 3 0 0 1 -3 0 l -2.7 -1.5
    a 3 3 0 0 1 1.5 -5.6Z" />
</svg>
