/* button group
------------------------- */

.button-group {
  margin-bottom: 20px;
  display: -webkit-flex;
  display: flex;
}

.button-group .button {
  margin-right: 1px;
}

.button-group .button:first-child {
  border-radius: 8px 0 0 8px;
}

.button-group .button:last-child {
  border-radius: 0 8px 8px 0;
  border-right: 1px solid #BBB;
}
