  {% if paginator_page %}
    <title>Blog page {{ paginator.page }} &middot; {{ site.name }}</title>
  {% else %}
    <title>{{ page.title }} &middot; {{ site.name }} Blog</title>
  {% endif %}
  
</head>
<body class="blog">
  
<div id="wrap">

  <header>
    <h1>
      <a href="/"><span class="metafizzy">Metafizzy</span></a>
      <a href="/blog/">blog</a>
      {% if paginator_page %} page {{ paginator.page }} {% endif %}
    </h1>
    <ul>
      <li><a href="/blog/archive.html">Archive</a></li>
      <li><a href="http://feeds.feedburner.com/metafizzy">RSS Feed</a></li>
    </ul>
  </header>