
  <meta name="google-site-verification" content="UUcS9OxYc-a3DO6oACFLndUyJEfZxmTBoP5N_tnmMXE" />
  <title>Metafizzy</title>
  
</head>
<body class="index">

  <div id="wrap">
    <div id="masthead">
      <h1 id="title" class="groover logo" data-groover-panes="100">M<span class="etafizzy">etafizzy</span></h1>
      <h2>Delightful web resources</h2>
    </div>
  
    <section id="featuring">
      <h2>Featuring</h2>
      <h3><a href="http://isotope.metafizzy.co">Isotope</a></h3>
      <p>Filter &amp; sort magical layouts</p>
      <h3><a href="http://packery.metafizzy.co">Packery</a></h3>
      <p>Bin-packing layout library</p>
    </section>

    <section id="support">
      <h2 id="support-license">Support</h2>

      <p><a href="/blog/frustrated-stuck-tired-defeated/"><strong>Don&rsquo;t give up!</strong></a> Unfortunately, I am unable to personally help with implementation issues. But I do my best to document any sticky situations. If you're having trouble with a Metafizzy product, I have provided ample documentation and demos for reference. Can't find an answer? Try these other resources:</p>

      <ul>
        <li><a href="/blog/archive.html">Metafizzy blog</a></li>
        <li><a href="http://codepen.io/desandro/tag/packery">Packery CodePen demos</a></li>
        <li><a href="http://delicious.com/desandro/re:isotope+fiddle">Isotope fiddles</a></li>
        <li><a href="http://delicious.com/desandro/re:isotope">Isotope links</a></li>
        <li><a href="http://stackoverflow.com/users/182183/desandro?tab=answers">My answers on Stack Overflow</a></li>
      </ul>

    </section>  <!-- #support -->
    
    <section>
      <h2><a href="blog">Read blog</a></h2>
    </section>
    
    
    <section id="contact">
      <h2>Contact</h2>
      
      <p>I&rsquo;d love to see how you make use of <span class="metafizzy">Metafizzy</span> resources.  Give me a holler via Twitter <a href="http://twitter.com/metafizzyco">@metafizzyco</a> or by email <a href="mailto:yo@metafizzy.co">yo@metafizzy.co</a>.</p>
      
    </section> <!-- #contact -->
    
    <section id="about">
      <h2>About</h2>
      
      <p><span class="metafizzy">Metafizzy</span> is the business end of <a href="http://desandro.com">David DeSandro</a>. I enjoy making things and hope you do too.</p>
    </section> <!-- #about -->
  </div> <!-- #wrap -->