{% assign paginator_page = true %}

{% include blog-header.html %}

{% for post in paginator.posts %}
  {% include blog-post.html %}
{% endfor %}

<nav id="pagination">
  <p class="previous">
    {% if paginator.previous_page == 1 %}
      <a href="../blog/">Previous</a>
    {% else %}
      <a href="../page{{ paginator.previous_page }}/">Previous</a>
    {% endif %}
  </p>
  <p class="current">Page {{ paginator.page }} of {{ paginator.total_pages }}</p>
  {% if paginator.next_page %}
    <p class="next"><a href="../page{{ paginator.next_page }}/">Next</a></p>
  {% endif %}
</nav>

