{% assign root_path = '../' %}
{% assign paginator_page = true %}

{% include blog-header.html %}

{% for post in paginator.posts %}
  {% include blog-post.html %}
{% endfor %}

<nav id="pagination">
  {% if paginator.previous_page == 1 %}
    {% capture previous_link %}{{ root_path }}blog{% endcapture %}
  {% else %}
    {% capture previous_link %}../page{{ paginator.previous_page }}{% endcapture %}
  {% endif %}    

  <p class="previous"><a href="{{ previous_link }}">Previous</a></p>
  <p class="current">Page {{ paginator.page }} of {{ paginator.total_pages }}</p>
  {% if paginator.next_page %}
    <p class="next"><a href="../page{{ paginator.next_page }}">Next</a></p>
  {% endif %}
</nav>

