<footer class="product-footer">
  <div class="container">
    <p class="blurb">Metafizzy makes delightful web UI</p>

    <div class="row clearfix">
      <div class="cell product isotope-product clearfix">
        <a href="http://isotope.metafizzy.co/">
          <img src="http://i.imgur.com/xfGupRf.png" alt="Isotope" />
          <h3>Isotope</h3>
          <p class="description">Filter &amp; sort magical layouts</p>
        </a>
      </div>
      <div class="cell product flickity-product clearfix">
        <a href="http://flickity.metafizzy.co/">
          <img src="http://i.imgur.com/8BFo4Aj.png" alt="Flickity" />
          <h3>Flickity</h3>
          <p class="description">Touch, responsive, flickable galleries</p>
        </a>
      </div>
    </div>

    <div class="row clearfix">
      <div class="cell product packery-product clearfix">
        <a href="http://packery.metafizzy.co/">
          <img src="http://i.imgur.com/uRXPQfm.png" alt="Packery" />
          <h3>Packery</h3>
          <p class="description">Bin-packing, draggable layout library</p>
        </a>
      </div>
    </div>

    <p class="blurb">Follow us on Twitter <a href="https://twitter.com/metafizzyco">@metafizzyco</a> or <a href="https://github.com/metafizzy">dig into code on GitHub</a></p>
  </div>
</footer>
