<div class="homepage-products">
  <div class="homepage-product">
    <a class="homepage-product__link" href="http://isotope.metafizzy.co">
      <h3 class="homepage-product__title">Isotope</h3>
      <p class="homepage-product__description">Filter &amp; sort magical&nbsp;layouts</p>
    </a>
    {{> homepage-isotope-demo}}
  </div>

  <div class="homepage-product">
    <a class="homepage-product__link" href="http://flickity.metafizzy.co">
      <h3 class="homepage-product__title">Flickity</h3>
      <p class="homepage-product__description">Touch, responsive, flickable&nbsp;carousels</p>
    </a>
    {{> homepage-flickity-demo}}
  </div>

  <div class="homepage-product">
    <a class="homepage-product__link" href="http://packery.metafizzy.co">
      <h3 class="homepage-product__title">Packery</h3>
      <p class="homepage-product__description">Gap-less, draggable&nbsp;layouts</p>
    </a>
    <div class="homepage-product__demo"></div>
  </div>
</div>
