<div class="showcase">
  <div class="showcase__product">
    <a class="showcase__product__link" href="https://isotope.metafizzy.co">
      <h3 class="showcase__product__title">Isotope</h3>
      <p class="showcase__product__description">Filter &amp; sort magical&nbsp;layouts</p>
    </a>
    {{> showcase-isotope-demo}}
    <a class="showcase__product__big-button" href="https://isotope.metafizzy.co">View Isotope</a>
  </div>

  <div class="showcase__product">
    <a class="showcase__product__link" href="https://flickity.metafizzy.co">
      <h3 class="showcase__product__title">Flickity</h3>
      <p class="showcase__product__description">Touch, responsive, flickable&nbsp;carousels</p>
    </a>
    {{> showcase-flickity-demo}}
    <a class="showcase__product__big-button" href="https://flickity.metafizzy.co">View Flickity</a>
  </div>

  <div class="showcase__product">
    <a class="showcase__product__link" href="https://packery.metafizzy.co">
      <h3 class="showcase__product__title">Packery</h3>
      <p class="showcase__product__description">Gap-less, draggable&nbsp;layouts</p>
    </a>
    {{> showcase-packery-demo}}
    <a class="showcase__product__big-button" href="https://packery.metafizzy.co">View Packery</a>
  </div>

  <div class="showcase__product">
    <a class="showcase__product__link" href="http://huebee.buzz">
      <h3 class="showcase__product__title">Huebee</h3>
      <p class="showcase__product__description">One-click color picker</p>
    </a>
    {{> showcase-huebee-demo}}
    <a class="showcase__product__big-button" href="http://huebee.buzz">View Huebee</a>
  </div>

  <div class="showcase__product showcase__product--banner">
    <a class="showcase__product__link" href="http://logo.pizza">
      <h3 class="showcase__product__title">Logo Pizza</h3>
      <p class="showcase__product__description">Hot &amp; ready logos for&nbsp;sale</p>
    </a>
    <a class="showcase__product__banner-link" href="http://logo.pizza">
      <img class="showcase__product__banner-img" src="https://i.imgur.com/SGskWmF.png" alt="Logo Pizza" />
    </a>
  </div>

</div>
