.showcase {
  margin-bottom: 60px;
}

.showcase__product {
  background: #222;
  border-radius: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.showcase__product__link {
  display: block;
  padding: 10px 10px 20px;
  color: white;
  border-radius: 5px 5px 0 0;
}

.showcase__product__link:hover {
  background: #C25;
  color: white;
}

.showcase__product__title {
  margin: 0;
  line-height: 1;
  font-size: 2.6rem;
  margin-bottom: 5px;
  color: #C25;
}

.showcase__product__link:hover .showcase__product__title {
  color: white;
}

.showcase__product__description {
  margin: 0;
  font-size: 1rem;
  font-style: italic;
  line-height: 1;
}

.showcase__product__demo {
  padding: 20px 10px;
}

.showcase__product__big-button {
  margin: 20px 10px 0;
  display: block;
  font-size: 1.2rem;
  text-align: center;
  background-color: #C25;
  background-image: linear-gradient( hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: white;
  padding: 8px;
  border-radius: 5px;
}

.showcase__product__big-button:hover {
  background-color: #19F;
  color: white;
}

.showcase__product__big-button:active {
  background-color: #08E;
  box-shadow: inset 0 2px 10px hsla(0, 0%, 0%, 0.4);
}

@media screen and (min-width: 768px) {

  .showcase {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .showcase__product {
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
  }

  .showcase__product__demo {
    min-height: 320px;
  }

  .showcase__product:last-child {
    margin-right: 0;
  }

}
