<div class="showcase">
  <div class="showcase__row">
    <div class="showcase__product">
      <a class="showcase__product__link" href="https://isotope.metafizzy.co">
        <h3 class="showcase__product__title">Isotope</h3>
        <p class="showcase__product__description">Filter &amp; sort magical&nbsp;layouts</p>
      </a>
      {{> showcase-isotope-demo}}
      <a class="showcase__product__big-button" href="https://isotope.metafizzy.co">View Isotope</a>
    </div>

    <div class="showcase__product">
      <a class="showcase__product__link" href="https://flickity.metafizzy.co">
        <h3 class="showcase__product__title">Flickity</h3>
        <p class="showcase__product__description">Touch, responsive, flickable&nbsp;carousels</p>
      </a>
      {{> showcase-flickity-demo}}
      <a class="showcase__product__big-button" href="https://flickity.metafizzy.co">View Flickity</a>
    </div>
  </div>

  <div class="showcase__row">
    <div class="showcase__product">
      <a class="showcase__product__link" href="http://logo.pizza">
        <h3 class="showcase__product__title">Logo Pizza</h3>
        <p class="showcase__product__description">Hot &amp; ready logos for&nbsp;sale</p>
        <img class="showcase__product__image" src="/img/2017/logo-pizza-vol2-banner.png" alt="Logo Pizza" />
      </a>
    </div>
  </div>

  <div class="showcase__row">
    <div class="showcase__product">
      <a class="showcase__product__link" href="https://infinite-scroll.com">
        <h3 class="showcase__product__title">Infinite Scroll</h3>
        <p class="showcase__product__description">Automatically add next&nbsp;page</p>
      </a>
      {{> showcase-infinite-scroll-demo}}
      <a class="showcase__product__big-button" href="https://infinite-scroll.com">View Infinite Scroll</a>
    </div>

    <div class="showcase__product">
      <a class="showcase__product__link" href="https://packery.metafizzy.co">
        <h3 class="showcase__product__title">Packery</h3>
        <p class="showcase__product__description">Gap-less, draggable&nbsp;layouts</p>
      </a>
      {{> showcase-packery-demo}}
      <a class="showcase__product__big-button" href="https://packery.metafizzy.co">View Packery</a>
    </div>

    <div class="showcase__product">
      <a class="showcase__product__link" href="http://fizzy.school">
        <h3 class="showcase__product__title">Fizzy School</h3>
        <p class="showcase__product__description">JavaScript lessons for jQuery newbies</p>
        <img class="showcase__product__image" src="/img/2017/fizzy-school-illo.png" alt="Fizzy School" />
      </a>
    </div>

  </div>

</div>
