<div class="showcase">
  <div class="showcase__product">
    <a class="showcase__product__link" href="http://isotope.metafizzy.co">
      <h3 class="showcase__product__title">Isotope</h3>
      <p class="showcase__product__description">Filter &amp; sort magical&nbsp;layouts</p>
    </a>
    {{> showcase-isotope-demo}}
    <a class="showcase__product__big-button" href="http://isotope.metafizzy.co">View Isotope</a>
  </div>

  <div class="showcase__product">
    <a class="showcase__product__link" href="http://flickity.metafizzy.co">
      <h3 class="showcase__product__title">Flickity</h3>
      <p class="showcase__product__description">Touch, responsive, flickable&nbsp;carousels</p>
    </a>
    {{> showcase-flickity-demo}}
    <a class="showcase__product__big-button" href="http://flickity.metafizzy.co">View Flickity</a>
  </div>

  <div class="showcase__product">
    <a class="showcase__product__link" href="http://packery.metafizzy.co">
      <h3 class="showcase__product__title">Packery</h3>
      <p class="showcase__product__description">Gap-less, draggable&nbsp;layouts</p>
    </a>
    {{> showcase-packery-demo}}
    <a class="showcase__product__big-button" href="http://packery.metafizzy.co">View Packery</a>
  </div>
</div>
