/* blog
------------------------- */


.blog #wrap {
  max-width: 620px;
  padding: 10px;
/*  padding-left: 170px;*/
  margin: 0 auto;
}

.blog header {
  border-bottom: 1px solid #3D3D3D;
  margin-bottom: 1.0em;
  position: relative;
}

.blog header h1 {
  font-size: 28px;
  margin-bottom: 0.3em;
  font-style: italic;
}

.fontface .blog header .logo {
  font-style: normal;
  font-size: 2.0em;
  position: relative;
  top: 0.3em;
  line-height: 0;
}

.blog header ul {
  position: absolute;
  right: 0;
  top: 0.5em;
  margin: 0;
}

.blog header ul li {
  display: inline-block;
  margin-left: 0.8em;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.blog .date {
  font-size: 15px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.blog .content {
  position: relative;
}

.blog #wrap img {
  display: block;
  max-width: 100%;
}

.blog article {
  padding: 1.0em 0 2.0em;
  border-bottom: 1px solid #383838;
}

/* archive */

.blog article.archive {
  padding: 1.5em 0;
}

/* has to clear the metafizzy logo */
article.archive:first-of-type { margin-top: 70px; }

article.archive h2,
article.archive .date {
  margin-top: 0.5em;
}

/* Pagination */

#pagination {
  position: relative;
  margin: 3.0em 0;
}

#pagination .current {
  text-align: center;
  font-style: italic;
}

#pagination .next,
#pagination .previous {
  font-size: 15px;
  position: absolute;
  top: 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

#pagination .previous { left: 0; }
#pagination .next { right: 0; }


/* bigger, desktop & tablets & big-ass phones */

@media screen and (min-width: 730px) {

  .blog #wrap {
    padding-left: 170px;
  }

  .fontface .blog header .logo {
    font-style: normal;
    position: absolute;
    top: 0;
    left: -170px;
    font-size: 150px;
    line-height: 0.9em;
  }

  .blog .date {
    position: absolute;
    left: -150px;
    margin: 0;
  }

  .blog article {
    padding: 3.0em 0;
  }

}
