/* order status
------------------------- */

body.order-status {
  text-align: center;
  padding-top: 40px;
  max-width: 720px;
  margin: 0 auto;
}

.order-status h1 {
  font-size: 64px;
  font-style: italic;
}

.order-status p {
  font-size: 18px;
}

.order-status .logo {
  font-size: 160px;
  line-height: 0.9em;
}
