/* homepage-header
------------------------- */

.homepage-header {
  padding: 20px 0;
  background: #222;
}

.homepage-header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.homepage-header__side {
  width: 20%;
}

.homepage-header .mfzy-logo {
  display: block;
  width: 100%;
  height: 100%;
}

.homepage-header__content {
  width: 70%;
  position: relative;
}

.homepage-header .rainbow-wordmark {
  margin-top: 10px;
}

.homepage-header__tagline {
  position: relative;
  font-size: 1.4rem;
  line-height: 1;
  margin: 0 0 0 10px;
}

@media screen and (min-width: 768px) {
  .homepage-header__content {
    width: 60%;
  }

  .homepage-header .rainbow-wordmark {
    margin-top: 0px;
  }

  .homepage-header__tagline {
    margin: -5px 0 0 40px;
  }

}
