<header class="homepage-header">

  <div class="container">

    <div class="homepage-header__container">

      <div class="homepage-header__side">
        {{> mfzy-logo}}
      </div>

      <div class="homepage-header__content">
        {{> rainbow-wordmark}}
        <p class="homepage-header__tagline">Delightful JavaScript plugins &amp; logos</p>
      </div>

    </div>

  </div>

</header>
