<header class="homepage-header">
  <h1 class="homepage-header__title">
    <svg class="icon-metafizzy-logotype">
      <use xlink:href="#metafizzy-logotype"></use>
    </svg>
    <span class="homepage-header__title__text">Metafizzy</span>
  </h1>

  <p class="homepage-header__tagline">Delightful web UI</p>
</header>
