<div class="showcase-huebee-demo showcase__product__demo">
  <input class="showcase-huebee-demo__input" value="#08F"
    data-huebee='{ "staticOpen": true, "saturations": 2, "className": "showcase-huebee-demo__huebee" }' />
</div>
