<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  {{#if isDev}}
    {{#each cssPaths}}
      <link rel="stylesheet" href="/css/{{this}}" />
    {{/each}}
  {{else}}
    <link rel="stylesheet" href="/styles.css?3" />
  {{/if}}
