---
title: Blog
body_class: blog
---

{% include html-head.html %}

<div class="container blog-container">

  {% include blog-header.html %}

  {% for post in paginator.posts %}
    {% include blog-post.html %}
  {% endfor %}

  <nav id="pagination">
    <p class="previous">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a href="/blog/">Previous</a>
        {% else %}
          <a href="/blog/page{{ paginator.previous_page }}/">Previous</a>
        {% endif %}
      {% endif %}
    </p>
    <p class="current">Page {{ paginator.page }} of {{ paginator.total_pages }}</p>
    {% if paginator.next_page %}
      <p class="next"><a href="/blog/page{{ paginator.next_page }}/">Next</a></p>
    {% endif %}
  </nav>

</div>

{% include product-footer.html %}

{% include html-foot.html %}
