{{> html-head}}

  <title>Metafizzy blog</title>

</head>
<body>

{{> blog-header}}

<div class="container">
{{! no whitespace for <pre><code> blocks }}
{{#each pagePosts}}
{{> post}}
{{/each}}

  {{> pagination}}
</div>

{{> blog-footer}}

{{> scripts}}

</body>
</html>
