<h1 class="rainbow-wordmark">
  <span class="rainbow-wordmark__text">Metafizzy</span>
  <canvas class="rainbow-wordmark__canvas" width="1100" height="400"></canvas>
  <img class="rainbow-wordmark__image" src="/img/wordmark-white.png" alt="Metafizzy" />
</h1>
