<div class="newsletter-signup" id="mc_embed_signup">
  <p class="newsletter-signup__copy">
    {{#if hasInlineTitle}}
      <strong>Newsletter:</strong>
    {{/if}}
    Sign up to be notified about product releases, new features, and sales.
  </p>
  <form action="//metafizzy.us12.list-manage.com/subscribe/post?u=e16e9b3ca5712c79a647caf32&amp;id=729574492a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-signup__form validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <label class="newsletter-signup__label" for="mce-EMAIL">Email</label>
        <input type="email" value="" name="EMAIL" class="newsletter-signup__email email" id="mce-EMAIL" placeholder="fizzybear@example.com" required />
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e16e9b3ca5712c79a647caf32_ff5bd908e1" tabindex="-1" value=""></div>
        <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="newsletter-signup__button button">
      </div>
  </form>
</div>
