<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>Metafizzy blog</title>

  {{#each cssPaths}}
    <link rel="stylesheet" href="/css/{{this}}" media="screen" />
  {{/each}}

</head>
<body>

{{> svg-symbols}}

{{> blog-header}}

<div class="container">
{{! no whitespace for <pre><code> blocks }}
{{#each pagePosts}}
{{> post}}
{{/each}}

  {{> pagination}}

</div>

{{> blog-footer}}

{{#each jsPaths}}
  <script src="/js/{{this}}"></script>
{{/each}}

</body>
</html>
