<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>Metafizzy blog</title>

  {{#each cssPaths}}
    <link rel="stylesheet" href="/css/{{this}}" media="screen" />
  {{/each}}

</head>
<body>

{{> svg-symbols}}

{{> blog-header}}

<div class="container">
{{! no whitespace for <pre><code> blocks }}
{{#each pagePosts}}
{{> post}}
{{/each}}

  <nav class="pagination">
    {{#if previousPage}}
      <a class="pagination__previous" href="{{previousPage.url}}">Previous {{previousPage.index}}</a>
    {{/if}}
    <span class="pagination__current">Page {{currentPage}} of {{totalPages}}</span>
    {{#if nextPage}}
      <a class="pagination__next" href="/blog/page{{nextPage}}">Next {{nextPage}}</a>
    {{/if}}
  </nav>

</div>

{{> blog-footer}}

{{#each jsPaths}}
  <script src="/js/{{this}}"></script>
{{/each}}

</body>
</html>
