<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>{{post.title}} &middot; Metafizzy blog</title>

  {{#each cssPaths}}
    <link rel="stylesheet" href="/css/{{this}}" media="screen" />
  {{/each}}

</head>
<body>

{{> blog-header}}

<div class="container">
{{#with post}}
{{> post}}
{{/with}}
</div>

{{> blog-footer}}

{{#each jsPaths}}
  <script src="/js/{{this}}"></script>
{{/each}}

</body>
</html>
