{{> html-head}}

  <title>{{{post.title}}} &middot; Metafizzy blog</title>

  {{! Twitter card }}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@metafizzyco" />
  <meta name="twitter:title" content="{{post.title}}" />
  {{! Facebook OpenGraph }}
  <meta property="og:url" content="https://metafizzy.co/blog/{{post.slug}}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{post.title}}" />
  <meta property="og:site_name" content="Metafizzy" />
  {{! blurb }}
  {{#if post.blurb}}
    <meta name="description" content="{{post.blurb}}" />
    <meta name="twitter:description" content="{{post.blurb}}" />
    <meta property="og:description" content="{{post.blurb}}" />
  {{/if}}
  {{! image }}
  {{#if post.image}}
    <meta name="twitter:image" content="{{post.image}}" />
    <meta property="og:image" content="{{post.image}}" />
  {{else}}
    <meta name="twitter:image" content="https://metafizzy.co/img/metafizzy-logo-thumbnail-magenta.png" />
    <meta property="og:image" content="https://metafizzy.co/img/metafizzy-logo-thumbnail-magenta.png" />
  {{/if}}

</head>
<body>

{{> svg-symbols}}

{{> blog-header}}

<div class="container">
{{#with post}}
{{> post}}
{{/with}}
</div>

{{> blog-footer}}

{{> scripts}}

</body>
</html>
