{{> html-head}}

  <title>Metafizzy blog archive</title>

</head>
<body>

{{> blog-header}}

<div class="container">

  <h1 class="section-title">Archive</h1>

  {{#each posts}}
    <div class="archive-post">
      {{> post-header thumbnail=true }}
    </div>
  {{/each}}

</div>

{{> blog-footer}}

{{> scripts}}

</body>
</html>
