{{> html-head}}

  <title>{{{post.title}}} &middot; Metafizzy blog</title>

</head>
<body>

{{> svg-symbols}}

{{> blog-header}}

<div class="container">
{{#with post}}
{{> post}}
{{/with}}
</div>

{{> blog-footer}}

{{> scripts}}

</body>
</html>
