{{> html-head}}

  <title>Metafizzy</title>
  <meta name="description" content="Metafizzy makes delightful web UI like Isotope, Flickity, and Packery." />

</head>
<body>

{{> homepage-header}}

<div class="container">

  <section class="homepage-section">

    {{> showcase}}

  </section>

  <section class="homepage-section">
    <h2 class="section-title">Purpose</h2>

    <div class="homepage-copy">
      <p>Web design is no longer a niche craft. It&rsquo;s part of everyone&rsquo;s job. Metafizzy makes delightful UI libraries so anyone can create compelling, captivating experiences on the web. You don&rsquo;t have to know the nitty-gritty. That&rsquo;s our job.</p>

      <p class="purpose-tagline">You make the stuff that matters. We make the widgets.</p>
    </div>
  </section>

  <section class="homepage-section">
    <h2 class="section-title"><a href="/blog">Read our blog</a></h2>

    <ul class="homepage-posts">
      {{#each homepagePosts}}
        <li class="homepage-posts__item">
          {{> post-header thumbnail=true }}
        </li>
      </a>
      {{/each}}
    </ul>
  </section>

  <section class="homepage-section" id="newsletter">
    <h2 class="section-title">Newsletter</h2>
    <div class="homepage-copy">
      {{> newsletter-signup}}
    </div>
  </section>

  <section class="homepage-section">
    <h2 class="section-title">People like our products</h2>

    <p>
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/metafizzyco/timelines/668876114912235522" data-widget-id="668889093225488386">People like Metafizzy</a>
    </p>
  </section>

  <section class="homepage-section">
    <h2 class="section-title">Contact</h2>

    <div class="homepage-copy">
      <p>We&rsquo;d love to see how you make use of Metafizzy products. Give us a holler on Twitter <a href="https://twitter.com/metafizzyco">@metafizzyco</a> or email <a href="mailto:yo@metafizzy.co">yo@metafizzy.co</a>.</p>
    </div>
  </section>

  <section class="homepage-section">
    <h2 class="section-title">About</h2>

    <div class="homepage-copy">
      <p>Metafizzy is a small web development shop, led by David DeSandro in Alexandria, VA. We&rsquo;ve been building and supporting our libraries for over 5 years — longer than most startups last. We enjoy making things and hope you do too.</p>
    </div>
  </section>

</div> {{! .container }}

{{> platformer-banner}}

{{> site-footer}}

{{> scripts}}

<script src="https://platform.twitter.com/widgets.js"></script>

</body>
</html>
