{{> html-head}}

  <title>Metafizzy &middot; Hello {{users}}!</title>

</head>
<body>

{{> site-header}}

<div class="container">

  <h1>Hello {{users}}!</h1>

  <div class="promo__copy">{{{copy}}}</div>

  <h2>Isotope</h2>

  <ul>
    <li><a href="https://gum.co/isotope-dev/{{slug}}">Isotope Commercial Developer License</a></li>
    <li><a href="https://gum.co/isotope-team/{{slug}}">Isotope Commercial Team License</a></li>
    <li><a href="https://gum.co/isotope-org/{{slug}}">Isotope Commercial Organization License</a></li>
  </ul>

  <h2>Flickity</h2>

  <ul>
    <li><a href="https://gum.co/flickity-dev/{{slug}}">Flickity Commercial Developer License</a></li>
    <li><a href="https://gum.co/flickity-team/{{slug}}">Flickity Commercial Team License</a></li>
    <li><a href="https://gum.co/flickity-org/{{slug}}">Flickity Commercial Organization License</a></li>
  </ul>

  <h2>Infinite Scroll</h2>

  <ul>
    <li><a href="https://gum.co/infscroll-dev/{{slug}}">Infinite Scroll Commercial Developer License</a></li>
    <li><a href="https://gum.co/infscroll-team/{{slug}}">Infinite Scroll Commercial Team License</a></li>
    <li><a href="https://gum.co/infscroll-org/{{slug}}">Infinite Scroll Commercial Organization License</a></li>
  </ul>

  <h2>Packery</h2>

  <ul>
    <li><a href="https://gum.co/packery-dev/{{slug}}">Packery Commercial Developer License</a></li>
    <li><a href="https://gum.co/packery-team/{{slug}}">Packery Commercial Team License</a></li>
    <li><a href="https://gum.co/packery-org/{{slug}}">Packery Commercial Organization License</a></li>
  </ul>

</div>

{{> blog-footer}}

{{> scripts}}

</body>
</html>
