/* site-header
------------------------- */

.site-header {
  padding: 10px 0;
  background: #222;
}

.site-header .container {
  position: relative;
}

.site-header__logo {
  height: 100px;
  vertical-align: bottom;
  margin-right: 5px;
}

.site-header .rainbow-wordmark {
  width: 220px;
  padding-bottom: 13px;
}

.site-header__title-link {
  display: inline-block;
  text-shadow: 1px 1px #222, 2px 2px #222;
}

.site-header__title-blog-text {
  display: block;
  position: absolute;
  bottom: 0;
  padding-left: 20px;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 1;
  color: white;
}

.site-header__extras {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.site-header__extras__link {
  margin-left: 15px;
}
