<div class="site-header">
  <div class="container">

    <a class="site-header__home-link" href="/">
      {{> mfzy-logo}}
    </a>

    <a class="site-header__title-link" href="/">
      {{> rainbow-wordmark}}
    </a>

  </div>
</div>
