<div class="site-header">
  <div class="container">

    <a class="site-header__home-link" href="/">
      <img class="site-header__logo" src="/img/metafizzy-logo.png" alt="Metafizzy logo" />
    </a>

    <a class="site-header__title-link" href="/">
      {{> rainbow-wordmark}}
    </a>

  </div>
</div>
