/* site-header
------------------------- */

.site-header {
  padding: 10px 0;
  background: #222;
}

.site-header .container {
  position: relative;
}

.site-header .mfzy-logo {
  width: 60px;
  height: 60px;
  vertical-align: bottom;
  margin-right: 5px;
}

.site-header .rainbow-wordmark {
  width: 160px;
  padding-bottom: 13px;
}

.site-header__title-link {
  display: inline-block;
  text-shadow: 1px 1px #222, 2px 2px #222;
}

.site-header__title-blog-text {
  display: block;
  position: absolute;
  bottom: 0;
  padding-left: 15px;
  font-size: 1.2rem;
  line-height: 1;
  color: white;
}

.site-header__extras {
  position: absolute;
  right: 10px;
  bottom: 0;
}

.site-header__extras__link {
  margin-left: 15px;
}

@media screen and (min-width: 768px) {

  .site-header .mfzy-logo {
    width: 80px;
    height: 80px;
  }

  .site-header .rainbow-wordmark {
    width: 220px;
    margin-bottom: 5px;
  }

  .site-header__title-blog-text {
     font-size: 1.4rem;
  }

  .site-header__extras {
    bottom: 10px;
  }

}
