<footer class="site-footer">
  <div class="container">

    <p class="site-footer__fizzy-makes">Metafizzy makes delightful UI libraries</p>

    {{> showcase}}

    <div class="site-footer__newsletter">
      {{> newsletter-signup hasInlineTitle=true}}
    </div>

    {{> site-footer-links}}

  </div>
</footer>
