<footer class="site-footer">
  <div class="container">

    <p class="site-footer__fizzy-makes">Metafizzy makes delightful UI libraries</p>

    {{> showcase}}

    {{> site-footer-links}}

  </div>
</footer>
