/* post-header
------------------------- */

.post-header__title {
  margin-bottom: 10px;
  line-height: 1.0;
  font-size: 2.2rem;
  font-weight: normal;
  color: #D26;
}

.post-header__date {
  color: #E62;
  margin: 0 0 30px;
}

.post-header:hover .post-header__title,
.post-header:hover .post-header__date {
  color: #19F;
}
