* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ---- webfonts ---- */

/*
  Just use WOFF2 and WOFF for webfonts
  https://css-tricks.com/snippets/css/using-font-face/ */

/* Texta Regular */
@font-face {
  font-family: 'Texta';
  src: url('/fonts/2D333F_2_0.woff2') format('woff2'),
    url('/fonts/2D333F_2_0.woff') format('woff');
}

/* Texta Heavy */
@font-face {
  font-family: 'Texta';
  font-weight: bold;
  font-style: normal;
  src: url('/fonts/2D333F_0_0.woff2') format('woff2'),
    url('/fonts/2D333F_0_0.woff') format('woff');
}

/* Texta Italic */
@font-face {
  font-family: 'Texta';
  font-weight: normal;
  font-style: italic;
  src: url('/fonts/2D333F_1_0.woff2') format('woff2'),
    url('/fonts/2D333F_1_0.woff') format('woff');
}

/* ---- base ---- */

/* set on html for rem */
html {
  font-family: Texta, sans-serif;
  font-size: 17px;
  line-height: 1.4;
}

body {
  background: #333;
  color: #F5F5F5;
}

/* ---- links ---- */

a {
  color: #19F;
  text-decoration: none;
}

a:hover {
  color: #D26;
}

a:active {
  color: #EA0;
}

/* ---- lists ---- */

ul, ol {
  padding-left: 1.5rem;
}

/* ----  ---- */

blockquote {
  margin-left: 20px;
  margin-right: 0;
  padding: 1px 20px;
  background: #222;
  border-radius: 5px;
}

/* ----  ---- */

svg {
  fill: white;
}

pre, code {
  font-family: Consolas, Menlo, monospace;
  background: black;
  font-size: 0.775rem; /* Texta font is small */
}

pre {
  padding: 10px;
  border-radius: 5px;
  line-height: 1.5;
  white-space: pre-wrap;
}

code {
  padding: 3px 2px;
  border-radius: 3px;
}

/* ---- syntax highlight ---- */

code .hljs-string,
code .hljs-tag .hljs-value { color: #0C4; }
code .hljs-number, /* integer */
code .hljs-cp, /* doctype */
code .hljs-literal { color: #38F; } /*boolean*/
code .hljs-keyword { color: #F73; } /* keyword */
code .hljs-kd, /* storage */
code .hljs-attribute { color: #DC8; } /* markup attribute */
code .hljs-title { color: #9CF; }
code .hljs-params { color: #98D; }
code .hljs-regexp  { color: #FC8; } /* regex */
code .hljs-o  { color: #F63; }   /* operator */
code .hljs-nb { color: #AA97AC;} /* support */
code .hljs-built_in { color: #E3A; }

/* comment */
code .hljs-comment { color: #999; font-style: italic; }

code .hljs-tag { color: #6CF; } /* Markup open tag */

code .hljs-id { color: #ABC; } /* css id */
code .hljs-class { color: #A63; }  /* CSS class */
code .hljs-rules { color: #FED; }
code .hljs-m  { color: #DE8E50; } /* CSS value */
code .hljs-nd { color: #9FAD7E; } /* CSS pseudo selector */
code .hljs-hexcolor { color: #F63; }
code .hljs-at_rule { color: #088; }


@media screen and (min-width: 768px) {
  html {
    font-size: 19px;
  }
}
