<div class="showcase-packery-demo showcase__product__demo">

  <div class="showcase-packery-demo__grid">
    <div class="showcase-packery-demo__grid__sizer"></div>
    <div class="showcase-packery-demo__grid__item showcase-packery-demo__grid__item--width2"></div>
    <div class="showcase-packery-demo__grid__item showcase-packery-demo__grid__item--width2"></div>
    <div class="showcase-packery-demo__grid__item"></div>
    <div class="showcase-packery-demo__grid__item showcase-packery-demo__grid__item--draggable  showcase-packery-demo__grid__item--width2  showcase-packery-demo__grid__item--height2">
      <span class="showcase-packery-demo__grid__item__draggable-label">Drag me</span>
    </div>
    <div class="showcase-packery-demo__grid__item showcase-packery-demo__grid__item--height2"></div>
    <div class="showcase-packery-demo__grid__item"></div>
    <div class="showcase-packery-demo__grid__item"></div>
    <div class="showcase-packery-demo__grid__item"></div>
    <div class="showcase-packery-demo__grid__item"></div>
    <div class="showcase-packery-demo__grid__item"></div>
  </div>

</div>
