.homepage-isotope-demo__grid__item {
  position: relative;
  float: left;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  color: white;
  font-size: 1.4rem;
  line-height: 1;
  margin: 0 5px 5px 0;
}

.homepage-isotope-demo__grid__item--red { background: #C25; }
.homepage-isotope-demo__grid__item--gold { background: #EA0; }
.homepage-isotope-demo__grid__item--blue { background: #19F; }

.homepage-isotope-demo__grid__item__letter {
  position: absolute;
  top: 10px;
  left: 10px;
}

.homepage-isotope-demo__grid__item__number {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
