<div class="homepage-isotope-demo homepage-product__demo">

  <div class="button-group">
    <button class="button is-selected" data-arrange='{ "filter": "*", "sortBy": "original-order" }'>Original</button>
    <button class="button" data-arrange='{ "filter": ".homepage-isotope-demo__grid__item--red" }'>Red</button>
    <button class="button" data-arrange='{ "filter": ".homepage-isotope-demo__grid__item--red, .homepage-isotope-demo__grid__item--gold" }'>Red &amp; Gold</button>
    <button class="button" data-arrange='{ "sortBy": "number" }'>123</button>
  </div>

  <div class="homepage-isotope-demo__grid">
    <div class="homepage-isotope-demo__grid__item homepage-isotope-demo__grid__item--red">
      <span class="homepage-isotope-demo__grid__item__letter">A</span>
      <span class="homepage-isotope-demo__grid__item__number">8</span>
    </div>
    <div class="homepage-isotope-demo__grid__item homepage-isotope-demo__grid__item--blue">
      <span class="homepage-isotope-demo__grid__item__letter">B</span>
      <span class="homepage-isotope-demo__grid__item__number">2</span>
    </div>
    <div class="homepage-isotope-demo__grid__item homepage-isotope-demo__grid__item--gold">
      <span class="homepage-isotope-demo__grid__item__letter">C</span>
      <span class="homepage-isotope-demo__grid__item__number">5</span>
    </div>
    <div class="homepage-isotope-demo__grid__item homepage-isotope-demo__grid__item--gold">
      <span class="homepage-isotope-demo__grid__item__letter">D</span>
      <span class="homepage-isotope-demo__grid__item__number">10</span>
    </div>
    <div class="homepage-isotope-demo__grid__item homepage-isotope-demo__grid__item--red">
      <span class="homepage-isotope-demo__grid__item__letter">E</span>
      <span class="homepage-isotope-demo__grid__item__number">9</span>
    </div>
    <div class="homepage-isotope-demo__grid__item homepage-isotope-demo__grid__item--red">
      <span class="homepage-isotope-demo__grid__item__letter">F</span>
      <span class="homepage-isotope-demo__grid__item__number">3</span>
    </div>
    <div class="homepage-isotope-demo__grid__item homepage-isotope-demo__grid__item--blue">
      <span class="homepage-isotope-demo__grid__item__letter">G</span>
      <span class="homepage-isotope-demo__grid__item__number">4</span>
    </div>
    <div class="homepage-isotope-demo__grid__item homepage-isotope-demo__grid__item--red">
      <span class="homepage-isotope-demo__grid__item__letter">H</span>
      <span class="homepage-isotope-demo__grid__item__number">12</span>
    </div>
    <div class="homepage-isotope-demo__grid__item homepage-isotope-demo__grid__item--gold">
      <span class="homepage-isotope-demo__grid__item__letter">I</span>
      <span class="homepage-isotope-demo__grid__item__number">6</span>
    </div>
    <div class="homepage-isotope-demo__grid__item homepage-isotope-demo__grid__item--red">
      <span class="homepage-isotope-demo__grid__item__letter">J</span>
      <span class="homepage-isotope-demo__grid__item__number">1</span>
    </div>
    <div class="homepage-isotope-demo__grid__item homepage-isotope-demo__grid__item--blue">
      <span class="homepage-isotope-demo__grid__item__letter">K</span>
      <span class="homepage-isotope-demo__grid__item__number">11</span>
    </div>
    <div class="homepage-isotope-demo__grid__item homepage-isotope-demo__grid__item--blue">
      <span class="homepage-isotope-demo__grid__item__letter">L</span>
      <span class="homepage-isotope-demo__grid__item__number">7</span>
    </div>
  </div>

</div>
