<ul class="site-footer-links">
  <li class="site-footer-links__item">
    <a class="site-footer-links__link" href="https://twitter.com/metafizzyco">
      <svg class="site-footer-links__symbol">
        <use xlink:href="#symbol--twitter-logo"></use>
      </svg>
      @metafizzyco
    </a>
  </li>
  <li class="site-footer-links__item">
    <a class="site-footer-links__link" href="https://instagram.com/metafizzy">
      <svg class="site-footer-links__symbol">
        <use xlink:href="#symbol--instagram-logo"></use>
      </svg>
      metafizzy
    </a>
  </li>
  <li class="site-footer-links__item">
    <a class="site-footer-links__link" href="https://github.com/metafizzy">
      <svg class="site-footer-links__symbol">
        <use xlink:href="#symbol--github-logo"></use>
      </svg>
      github.com/metafizzy
    </a>
  </li>
</ul>
