/* site-footer-links
------------------------- */

.site-footer-links {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
  line-height: 2;
}

.site-footer-links__item {
  display: inline-block;
  margin-right: 30px;
}

.site-footer-links__symbol {
  width: 1.3em;
  height: 1.3em;
  fill: #19F;
  vertical-align: middle;
}

.site-footer-links__link:hover .site-footer-links__symbol {
  fill: #D26;
}

@media screen and (min-width: 768px) {

  .site-footer-links {
    font-size: 1.4rem;
  }

}
