/* homepage packery demo
------------------------- */

.homepage-packery-demo__grid__item,
.homepage-packery-demo__grid__sizer {
  width: 22%;
  width: calc((100% - 15px) / 4);
  height: 65px;
}

.homepage-packery-demo__grid__item {
  float: left;
  background: #EA0;
  margin-bottom: 5px;
  border-radius: 5px;
}

.homepage-packery-demo__grid__item--width2 {
  width: 44%;
  width: calc((100% - 15px) / 2 + 5px);
}

.homepage-packery-demo__grid__item--height2 {
  height: 135px;
}

.homepage-packery-demo__grid__item--draggable {
  position: relative; /* for label */
  background: #19F;
  z-index: 1; /* above other items */
  user-select: none;
  text-align: center;
  transition: opacity 0.2s, box-shadow 0.2s;
  cursor: -webkit-grab;
  cursor: grab;
}

.homepage-packery-demo__grid__item--draggable.is-dragging {
  opacity: 0.85;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.25);
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.homepage-packery-demo__grid__item__draggable-label {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%); /* vertical center */
}
